.discussion, .offers, .gallery,.Giveremarks,.varieties {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
}

.discussion h2, .offers h2, .gallery h2,.Giveremarks,.varieties{
    color:darkslategray;
}
.first{
    background-color:gold;

}
img{
    width: 50%;
    height: 45vh;
}
.mainimg{   
    width: 50%;
}
li{
    color:brown;
}
title{
    font-family: 'Times New Roman', Times, serif;
}
.vareity{
    width: 23%;
}
.first a:hover{
    color:deepskyblue;
}